*{
	margin: 0;
	padding: 0;

}

.header{
	height: 100vh;
}

.navbar-style{
	text-transform: uppercase;
	width: 100%;
	background: white;

}
nav{
	width: 100%;
	overflow: auto;
	background: whitesmoke;
	align-items: center;
    display: block;
    position: all;      
}

.logo{
	height: 10px;
	padding: 10px 10px;
}

.logo img{
	width: 68%;
	
	margin-top: -35px;
	margin-left: -55px;

}

.icon-bar{
	background: green;
}

li a{

	color: green;

}

.content-block{
	margin-top: 100px;
	background-size: 200%;
	background-color: whitesmoke;
	width: 100%;
}

.big-text{
	font-size: 52px;
	margin: 20px 0;
	color: white;
}

.small-text{
	font-size: 15px;
	color: white;
}

a.btn{
	margin: 30px 10px;
	width: 150px;
	padding: 10px;
	border-radius: 20px;
}

a.btn-first{
	background-color: green;
	color: white;
}

a.btn-second{
	background: transparent;
	color: green;
	border: 1px solid green;
}

 a.btn:hover{
	background: green;
	border: none;
	color: #ffff;
	box-shadow: 5px 5px 10 px #999;
	transition: .3s;
}

.banner-info, .banner-image{
	margin: 30px 0;

}

#content{

	font: fantasy;
	font-size:25px;
	color: white;
	text-align: center;
	display: inline-block;
	font-weight:bold;
	background-color: green;
	width: 100%;
	height: 10%;
	padding-top: -20px;
	margin-top: -20px;
}

.wrapper {
    margin: 0 auto;
    padding: 10 20px;
    width: 940px;
    height: 20px;
}
#features ul {
    margin: 90px 10px;
    padding-top: 60px;
    color: black;
}
#features ul li {
    width: 296px;
    padding-top: 140px;
    float: left;
    margin-right: 10px;
    text-align: center;

}

h1 {
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: #444;
    font-size: 45px;
    margin-bottom: 20px;
}
h2 {
    font-weight: 300;
    color: #444;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h3 {
    font-size: 30px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h4 {
    font-size: 24px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h5 {
    font-size: 15px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}
#features ul li.feature-1 {
    background: url('img1.png') no-repeat top center;
}
#features ul li.feature-2 {
    background: url('img2.png') no-repeat top center;
}
#features ul li.feature-3 {
    background: url('img3.png') no-repeat top center;
}

.clear {
    clear: both;
}